.bettendorf {
    max-width: 9.5em;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.bettendorf-header {
    margin-right: 10px;
    width: 50em;
}

.beverageDetail {
    padding: 0;

}

.modal-content {
    background: #d3d9df;
}

.fullHeightCard:hover {
    cursor: pointer;
}

.ankeny {
    max-width: 11em;
}

.card-title {
    margin-bottom: 0;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card-deck {
    margin: auto;
}

.fermenting {
    display: flex;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.fermenting .fullHeightCard.ankeny {
    max-width: 9.5em;
}


.card-header {
    height: 6em;
    padding: 0;
    background: rgba(255, 255, 255, .75);
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.fullHeightCard {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
}

.row-content {
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;

}

.navbar-dark {
    background-color: #FFFFFF;
    color: #0f0f0f;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: 300ms ease-out;
}

.nav-link {
    color: #000000;
}

body {
    background: url("beer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1%;
}

h3 {
    text-align: center;
    margin: 0;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.activeLink {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 5px;
    box-shadow: inset 0 0 0 4px white, 0 0 0 1px gray;
    transition: all .5s ease;
    text-align: center;
    margin: .2em auto;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    font-weight: 300;
}

h2 {
    text-align: right;
    font-size: 1.5em;
    margin-bottom: 0;
}

h1 {
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    display: block;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0;
    text-align: center;
    color: #111111;
    background: #777777;
    text-shadow: #e0e0e0 1px 1px 0;
    margin-left: 5px;
    margin-right: 0px;
}

.card-img-overlay {
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: #000000 1px 1px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .5);
    text-align: left;
    display: flex;
    padding:0;
    top: auto;
}

.tap-number .card-img-overlay {
    align-items: flex-start;
}

h5 {
    font-family: Raleway;
    font-weight: bold;
    text-shadow: #5a6268 1px 1px;
    color: #000000;

    text-align: center;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1rem;
    }
    .ankeny {
        max-width: 100%;
    }
    .bettendorf {
        max-width: 100%;
    }
    h5 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1rem;
    }
    .fermenting {
        max-width: 100%;
    }
    .fullHeightCard {
        width: 100%;
        display: block;
    }
    .card-img-overlay{
        font-size: .5em;
    }
    .card-header {
        width: 100%;
        max-height: 2.5em;
        margin: auto 0;
    }
    .activeLink {
        font-size: .75em;
    }
    .btn {
        font-size: .75em;
    }
    .inactiveLink {
        font-size: .75em;
    }
    img {
        display: none;
    }
    .modal-body img {
        display: flex;
    }
    h3 {
        font-size: 1rem;
        margin: 5px;
        padding: 0px;
    }
    .fermenting .fullHeightCard.ankeny {
        max-width: 100%;
    }
    .card-deck .card {
        margin: 2px;
    }
}
