@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);


.devi {
    background: url("../../public/images/devi.jpg");
    background-size: cover;
    max-width: 100%;
}

.redcap {
    background: url("../../public/images/redcap.jpg");
    background-size: cover;
    max-width: 100%;
}

.abyss {
    background: url("../../public/images/abyss.jpg");
    background-size: cover;
    max-width: 100%;
}

.doors {
    background: url("../../public/images/doors.jpg");
    background-size: cover;
    max-width: 100%;
}

.spring {
    background: url("../../public/images/spring.jpg");
    background-size: cover;
    max-width: 100%;
}

.clarity {
    background: url("../../public/images/clarity2.jpeg");
    background-size: cover;
    max-width: 100%;
}

.lembas {
    background: url("../../public/images/lembas.jpg");
    background-size: cover;
    max-width: 15%;
}

.simmon {
    background: url("../../public/images/simmon.jpg");
    background-size: cover;
    max-width: 100%;
}

.alma {
    background: url("../../public/images/alma.jpg");
    background-size: cover;
    max-width: 100%;
}

.coffee {
    background: url("../../public/images/coffee.jpg");
    background-size: cover;
    max-width: 100%;
}